<div class="form">
  <h4>New Category</h4>
  <form action="/admin/categories/add" method="POST">
    <div class="form-input">
      <label for="title">
        <b>Title</b>
      </label>
      <input type="text" name="title"><br>
    </div>
    <div class="form-input">
      <label for="type">
        <b>Type</b>
      </label>
      <select name="type" >
        <option value="income">Income</option>
        <option value="outcome">Outcome</option>
      </select>
    </div>
    <div class="form-input">
      <input type="submit" value="Add">
    </div>
  </form>
</div>