<h4>DASHBOARD</h4>

{{!-- <div class="profile">
  {{#each userData}}
    {{#if firstname}}
    <h4>Hello, {{firstname}}</h4>
    <img src="http://localhost:4000/img/{{image}}"  alt="">
    {{else}}
    <h4>CLIENT PROFILE</h4>
    {{/if}}
  {{/each}}
  <ul>
    <a href="/datos">Datos</a>
    <a href="/categorias">Categorias</a>
    <a href="/balance">Balance</a>
    <a href="/ingresos">Ingresos</a>
    <a href="/gastos">Gastos</a>
    <a href="/reportes">Reportes</a>
  </ul>
</div> --}}
