<div class="form">
  <h4>Sign In as Admin</h4>
  <form action="/admin" method="POST" >
    <div class="form-input">
      <label for="email">
        <b>Email</b>
      </label>
      <input type="email" name="email"><br>
    </div>
    <div class="form-input">
      <label for="password">
        <b>Password</b>
      </label>
      <input type="password" name="password"><br>
    </div>
    <div class="form-input">
      <input type="submit">
    </div>
  </form>
</div>