<div class="form">
  <h4>Sign In</h4>
  <form action="/signin" method="POST" >
    <div class="form-input">
      <label for="email">
        <b>Email</b>
      </label>
      <input type="email" name="email"><br>
    </div>
    <div class="form-input">
      <label for="password">
        <b>Password</b>
      </label>
      <input type="password" name="password"><br>
    </div>
    <div class="form-input">
      <input type="submit">
      <a href="/admin" clas="sign-admin">sign as admin</a>
    </div>
  </form>
</div>